


.cms-main {
  min-height: 100%;
  margin-bottom: -40px;
  &__sidebar {
    position: absolute;
    height: 100%;
    transform: translateX(-150px);
    background-color: black;
    width: 150px;
  }
  &__header{
      padding: 12px;
      @include grid-row;
      max-width: 100%;
      position: fixed;
      z-index: 3;
      background-color: #fff;
      width: 100%;
      .logo{
         @include grid-column(3);
         max-width:180px;
         width:100%;  
      }
      .menu-list{
         @include grid-column(9);
         text-align:right;
         margin-bottom: 0;
         li{
          display:inline;
          padding:0 12px;
          line-height: 30px;
            a{
              color:#444;
            }
            &.active{
              border-bottom: 3px solid #f2b21d;
              padding-bottom: 20px;
            }
         }
      }
  }
  &__content {
     background-color:#EAEAEA;

    &_wrapper{
      margin:0 auto 12px auto;
      max-width:73em;
      text-align:center;
      min-height:400px;
      padding:12px 0;
      height:100vh;
      &.home{
        .section{
          &_1{
            max-width:350px;
            text-align:center;
            margin:0 auto;
          }
        }
      }
      &.products{
        max-width:100%;
        padding: 0;
        position: relative;
        .title{
              font-family: karla;
              font-weight:bold;
              position: absolute;
              top: 21px;
              z-index: 2;
              @include horizontal-center;
              color:#fff;
        }
        
      }
      &.careers{
        .orbit{
          &-container{
            min-height: 560px; 
          }
          &-nav-container{
             width: 100px;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 94px;
            top: 78%;
          }

          &-next{
            right: auto;
            margin-left: 40px;
          }
          &-previous{
             left: auto;
          }

        }
        .careers{
          i{
            color:#444;
          }
        }
      }
      .title{
        font-weight:700;
            font-family: karla;
      }

      .timeline{
        a{
          display: block;
          border-radius: 4px;
          box-shadow: 1px 2px 6px #6B6B6B;
          .desc_wrapper{
                padding: 12px;
                min-height: 169px;
                background-color: #fff;
                border-radius: 0 0 4px 4px;
          }
        }
        &_thumbs{
          max-width: 350px;
          height: 250px;
          background-size: cover;
          background-position: center center;
          border-radius: 4px 4px 0 0;
        }
        .title{
            font-size:18px;
            color: #444444;
            text-align:left;
        }
        .date,p{
            text-align:left;
            color:#989898;
          }

      }
    }
    &_inside{
      @include vertical-center;
      max-width:520px;
      @include horizontal-center;
      transform: translate(-50%,-70%);
    }
    
  }
  &__footer {
    //position: relative;
    background-color: #ffffff;
    padding: 64px 18px;
    text-align: center;
    margin-top: 30px;
    bottom: -19px;
     color:#444444;
    .row{
      max-width:100%;
      .logo{
        max-width:180px;
        width:100%;
      }
    }
    h4{
      font-size:18px;
      font-weight:600;
      border-bottom:1px solid #000;

    }
    p {
      margin: 0;
      line-height: 20px;
    }
  }
  

  
}

a[data-type="fb"] {background: #3b5998;}


.job-posts{
    margin: 0 auto 12px auto;
    max-width: 73em;
    text-align: center;
    min-height: 400px;
    padding: 12px 0;
        li{
          margin-bottom: 28px;
        }
        a{
          display: block;
          border-radius: 4px;
          box-shadow: 1px 2px 6px #6B6B6B;
          position: relative;
          .desc_wrapper{
                padding: 12px;
                min-height: 169px;
                background-color: #fff;
                border-radius: 0 0 4px 4px;
          }
        }
        &_thumbs{
          max-width: 350px;
          height: 60px;
          background-size: cover;
          background-position: center center;
          border-radius: 4px 4px 0 0;
        }
        
        .title{
          font-size: 18px;
          color: #444;
          height: 50px;
        }
        p,li{
          color: #444;
        }
        .fa-envelope-o{
          font-size:18px;
        }
      }

//share circle
.share-circle{
          position: absolute;
          background: #4cb19a;
          padding: 6px 9px;
          border-radius: 60px;
          width: 30px;
          height: 30px;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 40px;
          color:#fff;
          .reveal &{
              top: 93px;
              padding: 8px 11px;
              width: 40px;
              height: 40px;
              font-size: 18px;
          }
        }
        
