.jumbotron{
    background-size:cover;
    height: 100vh;
    width: 100%;
    .overlay{
        background-color:rgba(0, 0, 0, 0.51);
        width:100%;
        height:100%;
      }
    &.home{
      background-image: url("../img/jumbotron-home.jpg");
      background-repeat:no-repeat;
      background-position: center center;

      .cms-main__jumbotron_wrapper{
        top: 37%;
        h1{
          font-size:36px;
          font-family:karla;
          font-weight:bold;
          margin-bottom:0;
        }
        h2{
           font-size:16px;
           line-height:8px;
           margin:0;
          font-family:karla;
          font-weight:bold;
          color:#fff;
        }
        .content{
          margin-top:24px;
          font-family:karla;
          p{
            line-height:24px;
          }
        }
      }
      .warning{
        border:0;
      }


    }
    &.about{
      background-image: url("../img/jumbotron-about.jpg");
      background-repeat:no-repeat;
      background-position: center center;
    }
    &.products{
      background-image: url("../img/jumbotron-products.jpg");
      background-repeat:no-repeat;
      background-position: center center;
    }
    &.services{
      background-image: url("../img/jumbotron-products.jpg");
      background-repeat:no-repeat;
      background-position: center center;
    }
    &.careers{
      background-image: url("../img/jumbotron-careers.jpg");
      background-repeat:no-repeat;
      background-position: center center;
    }
    
   
    &_wrapper{
      @include vertical-center;
      @include horizontal-center;
      top:28%;
      text-align:center;
      max-width:560px;
      //font-family:karla;

      .title{
        font-size:36px;
        color:#fff;
        font-weight:bold;
      }
      .content{
        font-weight: 500;
        font-size: 21px;
        color:#fff;
      }
      .play{
        border-radius:0;
        color:#fff;
        border-color:#fff;
        border-width: medium;
      }
      .down{
            position: absolute;
            right:0;
            left: 0;
            top: 460px;
            width: 45px;
            margin: 0 auto;
            border-radius: 0;
      }
    }
    
  }