<div class="reveal" id="applyModal" data-reveal>
  <div class="header">
    <h1>SOFTWARE <br> <strong>ENGINEER</strong></h1>
   
  </div>
   
   <div class="share-circle" data-open="socialShare" onclick="socialShareData('sample title')" aria-controls="socialShare" id="cohp6l-reveal" aria-haspopup="true" tabindex="0"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
   <div class="body">
    <h3>JOB DESCRIPTION</h3>
     <ul>
       <li>Design, test and build advanced applications for the Android / iOS platform</li>
       <li>Collaborate with cross functional teams to define, and design new features.</li>
       <li>Work with outside data sources and API's</li>
       <li>Unit test code for robustness, including edge cases, usability, and general reliability.</li>
       <li>Work on bug fixing and improving application performance.</li>
       <li>Continuously discover, evaluate, and implement new technologies to maximize 
    development efficiency.</li>
   </div>
 
  <div class="footer">
    <h3>APPLICANT INFORMATION</h3>
    <hr>
    <div class="footer__wrapper">
      
      <input type="text" placeholder="full name">
      <input type="text" placeholder="mobile number">
      <input type="text" placeholder="email address">
      <button class="button expanded cv">UPLOAD CV <i class="fa fa-upload" aria-hidden="true"></i></button>
      <button class="button expanded submit">SUBMIT <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
  </div>
</div>