<div class="cms-main__footer">
          <div class="row">
            <div class="column medium-3">
              <div class="logo"><img src="../assets/img/yonduLogo.png" alt="yondu logo"></div>
            </div>
            <div class="column medium-9">
              <ul class="row no-bullet">
                <li class="column medium-4 text-left">
                  <h4>LOCATE</h4>
                  <p>Upper Penthouse, Panorama Building, 34th Street Lane A Bonifacio Global City, Taguig City, Philippines 1634</p>
                </li>
                <li class="column medium-4 text-left">
                  <h4>CONTACT</h4>
                  <p>(02) 847-2732</p>
                </li>
                <li class="column medium-4 text-left">
                  <h4>FOLLOW</h4>
                  <ul class="no-bullet">
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        
</div>