 <header class="cms-main__header">
        <div class="logo"><a href="/"><img src="../assets/img/yonduLogo.png" alt="yondu logo"></a></div>
        <ul class="menu-list no-bullet row align-right">
          <li id="aboutMenu"><a href="/about.html">ABOUT</a></li>
          <li id="servicesMenu"><a href="/services.html">SERVICES</a></li>
          <li id="productsMenu"><a href="/products.html">PRODUCTS</a></li>
          <li id="careersMenu"><a href="/careers.html">CAREERS</a></li>
          <li id="contactMenu" data-magellan data-bar-offset="-25"><a href="#contact">CONTACT</a></li>
        </ul>
      </header>