<div class="reveal" id="socialShare" data-reveal>
	<div class="row medium-up-3">
		<div class="columns">
			<!-- Create button with share to Twitter -->
	    	<button class="goodshare button" data-type="tw"><i class="fa fa-twitter" aria-hidden="true"></i> Share this to Twitter </button>
		</div>
		<div class="columns">
			<!-- Create link with share to Facebook -->
	    	<button class="goodshare button" data-type="fb"><i class="fa fa-facebook" aria-hidden="true"></i> Share this to Facebook </button>
		</div>
		<div class="columns">
			 <button class="goodshare button" data-type="li"><i class="fa fa-linkedin" aria-hidden="true"></i> Share this to LinkedIn </button>
		</div>
	</div>
	
    

    

   
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
